[Desktop Entry]
Encoding=UTF-8
Name=Duolingo
Type=Application
Comment=Learn new languages in bite-sized lessons
Comment[ro]=Învață limbi noi în lecții mărunte
Exec=/opt/dl-desktop/dl-desktop
Icon=ro.go.hmlendea.DL-Desktop
StartupWMClass=DL: language lessons
Categories=Education;
Keywords=Duolingo;Languages;
Keywords[ro]=Duolingo;Limbi;
