body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#content {
    position:absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0px; 
    width: 100%;
    height: 100%;
    border: none;
}
